body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.images {
  position: relative;
  left: 20px;
}

.option,
.profile {
  padding: 20px;
}

button {
  margin-right: 20px;
  height: 35px;
  border: none;
  background-color: white;
  font-size: 21px;
}

.searchBar {
  width: 400px;
  height: 30px;
  position: relative;
  top: 25px;
}

.profile {
  padding-top: 20px;
}

.middle {
  background-color: #eee;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: rgb(28, 81, 28);
}

.sorting {
  height:auto;
  border: 2px solid red;
  font-size: 1.5rem;
  color: white;
  background-color: blue;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease;
}

.sorting:hover {
  background-color: darkblue;
  transform: scale(1.05);
}

.sorting:active {
  transform: scale(0.95);
}