* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}


#root {
  width: 500px;
  max-width: 90%;
  padding: 30px 20px;
  background-color: #dac6ac;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.header {
    margin-bottom: 10px;
}